body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

h1 {
  font-family: "Jersey 15";
  font-size: 6rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  text-shadow: 4px 4px rgba(1, 1, 1, 0.3);
}

p {
  font-family: "Space Grotesk";
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px rgba(1, 1, 1, 0.3);
}
