---
import BaseLayout from "../layouts/BaseLayout.astro";
import IconButton from "../components/IconButton.astro";
---

<BaseLayout title="Hi, I'm Jon">
  <main>
    <div>
      <h1>Hi, I'm Jon</h1>
      <p class="text-2xl">I like building stuff.</p>
      <p style="font-size: 2rem">
        <IconButton
          icon="github"
          href="https://github.com/jonwrona"
          target="_blank"
          color="blue"
          label="Visit my Github profile"
          title="Github"
        />
        <IconButton
          icon="bluesky"
          href="https://bsky.app/profile/wrona.dev"
          target="_blank"
          color="cyan"
          label="Follow me on Bluesky"
          title="Bluesky"
        />
        <IconButton
          icon="linkedin"
          href="https://www.linkedin.com/in/jonwrona/"
          target="_blank"
          color="amber"
          label="Connect on LinkedIn"
          title="LinkedIn"
        />
        <IconButton
          icon="book-heart-solid"
          href="https://www.goodreads.com/jonwrona"
          target="_blank"
          color="red"
          label="Peep my Goodreads"
          title="Goodreads"
        />
      </p>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    height: auto;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
