---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Astro - Retro CRT">
  <h1>Title goes here</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum enim
    risus, condimentum non massa fermentum, scelerisque ornare orci. Ut
    scelerisque pellentesque tincidunt. Nulla a dui augue. Maecenas luctus velit
    ut diam mollis interdum. Ut ut mi ac quam semper dignissim id sit amet
    neque. Nulla facilisi. Pellentesque molestie libero sed velit mattis, vel
    eleifend nisi consequat. Praesent volutpat consectetur odio, facilisis
    eleifend lectus ultricies in. Donec ut mi pellentesque, venenatis nulla ac,
    pretium arcu. Vivamus et nisi id nisl sagittis condimentum id in nisl.
  </p>
  <p>
    Pellentesque consectetur tempus risus eu facilisis. Duis vel bibendum ex.
    Vestibulum porta in nibh a interdum. Vestibulum nisl magna, accumsan non
    neque eu, accumsan aliquet lorem. Pellentesque eros turpis, eleifend sit
    amet sodales et, faucibus et ligula. Aenean ac risus maximus, tempus metus
    sed, blandit sem. Suspendisse volutpat eget ligula vitae mattis. Etiam
    convallis metus at orci maximus, non ullamcorper mauris sagittis. Cras
    hendrerit ullamcorper ex, ac imperdiet tortor vehicula at. Fusce vitae
    tellus urna.
  </p>
  <p>
    Duis laoreet leo at pretium faucibus. Nunc venenatis pharetra pretium. Duis
    ante augue, auctor vel neque nec, tristique euismod magna. Etiam
    pellentesque nibh quis lobortis sodales. Quisque neque libero, aliquet id
    ornare nec, interdum vel odio. Suspendisse tempus leo arcu, at sagittis
    purus mollis vel. Etiam at ante vel urna euismod ornare vitae ac lectus.
    Maecenas pharetra eleifend nisl, nec placerat neque varius ut. Proin eu erat
    tellus. Phasellus semper, orci congue consequat fringilla, sapien purus
    ornare ligula, sed mollis nisl odio et purus. Nam lacus lacus, rhoncus non
    aliquet vel, suscipit ac diam. Cras bibendum vestibulum turpis, eget
    suscipit risus rutrum eget. Proin eget aliquam arcu. Nunc ultricies lectus
    vel mi bibendum pulvinar.
  </p>
  <p>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae; Curabitur metus odio, suscipit non lobortis ac, condimentum
    vel magna. Nam lacinia pulvinar hendrerit. Donec cursus massa sed sapien
    pretium, vel pretium sapien semper. Nunc at nisl nisl. Vestibulum aliquet
    venenatis quam eu finibus. Sed interdum lacus egestas sem ornare hendrerit.
    Suspendisse nec mauris sed nunc sodales maximus. Etiam faucibus nunc nec
    erat consectetur, in rhoncus libero tincidunt. Sed dictum consequat ligula
    id accumsan. Nam id placerat nibh. Proin ut sollicitudin sem.
  </p>
  <p>
    Sed auctor at velit eget imperdiet. Etiam dictum eros velit. Maecenas lorem
    mauris, pharetra non diam ac, elementum iaculis metus. Aliquam ac ipsum
    accumsan, pharetra lacus rutrum, consectetur elit. In nulla ipsum,
    sollicitudin ac lobortis nec, gravida non purus. Cras at ante metus.
    Curabitur ornare congue mattis. Morbi lorem lectus, interdum congue
    consectetur vitae, rhoncus non nisl. Vestibulum a dapibus tellus. Cras
    lacinia porta risus id tempus. Sed pulvinar magna ac tellus rhoncus tempus
    ut vitae est. Curabitur non eleifend lectus. Phasellus bibendum, mauris et
    interdum vulputate, libero sapien volutpat ex, fringilla elementum magna
    erat aliquet nisi. Aenean eleifend nisl elementum nisl porttitor, quis
    luctus magna lacinia.
  </p>
</BaseLayout>
