---
import BaseLayout from "../layouts/BaseLayout.astro";

import CardGrid from "../components/CardGrid.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import IconButton from "../components/IconButton.astro";
import WindowSizeDisplay from "../components/WindowSizeDisplay.astro";
---

<BaseLayout title="Hi, I'm Jon">
  <main>
    <div>
      <h1>Hi, I'm Jon</h1>
      <p class="text-2xl">I like building things.</p>
      <p style="font-size: 2rem">
        <IconButton
          icon="github"
          href="https://github.com/jonwrona"
          target="_blank"
          color="blue"
          label="Visit my Github profile"
          title="Github"
        />
        <IconButton
          icon="bluesky"
          href="https://bsky.app/profile/wrona.dev"
          target="_blank"
          color="cyan"
          label="Follow me on Bluesky"
          title="Bluesky"
        />
        <IconButton
          icon="linkedin"
          href="https://www.linkedin.com/in/jonwrona/"
          target="_blank"
          color="amber"
          label="Connect on LinkedIn"
          title="LinkedIn"
        />
        <IconButton
          icon="book-heart-solid"
          href="https://www.goodreads.com/jonwrona"
          target="_blank"
          color="red"
          label="Sometimes I read"
          title="Goodreads"
        />
      </p>
    </div>
  </main>
  <div class="text-sm" style="position: fixed; right: 1rem; bottom: 1rem;">
    Icons from <a href="https://pixeliconlibrary.com/">Pixel Icon Library</a> by <a
      href="https://hackernoon.com/">HackerNoon</a
    >
  </div>
</BaseLayout>

<style>
  main {
    height: auto;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
