---
// Card component
interface Props {
  onClick?: () => void;
  href?: string;
}

const {} = Astro.props;
---

<div class="card"><slot /></div>

<style lang="scss">
  @use "../styles/corners.scss" as *;

  .card {
    --shadow-distance: 4px;
    position: relative;
    padding: 0.5rem;
    background: var(--bg-secondary);
    aspect-ratio: var(--aspectRatio);
    box-shadow: var(--shadow-distance) var(--shadow-distance) rgba(1, 1, 1, 0.1);
    border-radius: 0.5rem;
    border: 4px solid var(--accent-lime);

    transition: all 200ms var(--ease-out-back);

    &:hover {
      transition: all 25ms linear;
      cursor: pointer;
      box-shadow: 0 0 rgba(1, 1, 1, 0.1);
      transform: translate(3px, 3px);
    }
  }
</style>
