---
import Button from "./Button.astro";

// Navigation component
interface Props {}

const {} = Astro.props;
---

<nav class="nav">
  <Button href="/" color="violet">wrona.dev</Button>
  <Button href="/projects" color="hot-pink">Projects</Button>
  <Button color="cyan">About</Button>
  <Button color="lime">For Fun</Button>
</nav>
<div class="nav-spacer"></div>

<style lang="scss">
  .nav {
    position: fixed;
    width: calc(100% - 4rem);
    left: 1rem;
    top: 1rem;
    display: flex;
    gap: 1rem;
    // justify-content: center;
  }

  .nav-spacer {
    height: 5rem;
    content: "";
  }
</style>
