---
import Modal from "./Modal.astro";
---

<Modal id="settings">
  <h2>Settings</h2>
  <p class="text-sm">
    Icons from <a href="https://pixeliconlibrary.com/">Pixel Icon Library</a> by <a
      href="https://hackernoon.com/">HackerNoon</a
    >
  </p>
</Modal>
