---
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
console.log(projects);

import BaseLayout from "../../layouts/BaseLayout.astro";

import CardGrid from "../../components/CardGrid.astro";
import Card from "../../components/Card.astro";
---

<BaseLayout title="Things I've made">
  <div>
    <CardGrid maxColumns={4}>
      {projects.map(({ data }) => <Card>{data.title}</Card>)}
    </CardGrid>
  </div>
</BaseLayout>
