---
import BaseLayout from "../../layouts/BaseLayout.astro";

import CardGrid from "../../components/CardGrid.astro";
import Card from "../../components/Card.astro";
---

<BaseLayout title="What I've built">
  <div>
    <h1>Here are the things I've built</h1>
    <CardGrid>
      <Card>Test</Card>
      <Card>Test</Card>
      <Card>Test</Card>
      <Card>Test</Card>
      <Card>Test</Card>
      <Card>Test</Card>
      <Card>Test</Card>
      <Card>Test</Card>
    </CardGrid>
  </div>
</BaseLayout>
